body{
    background-color: beige;
    color: black;
}

h1 {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 700;
  font-size: 2.986rem;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -2px;
}

p {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-size: 1.728rem;
  line-height: 1.2;
  letter-spacing: -2px;
}
span {
    background-color: black;
    color: beige;
}

ul {
  list-style: none;
}